In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
plt.style.use('ggplot')
color_pal = ["#F8766D", "#D39200", "#93AA00", "#00BA38", "#00C19F", "#00B9E3", "#619CFF", "#DB72FB"]

import warnings
warnings.filterwarnings('ignore')

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, train_test_split

In [3]:
df_raw = pd.read_csv('jan_1_zero.csv')
df_raw.drop("Unnamed: 0", axis=1, inplace=True)

## 주행거리가 0인데 요금이 존재하는 데이터
### 결측치로 가정하고 예측하는 모델을 생성한다.

1. Missing Values Imputation
2. RandomForest Regressor

In [4]:
df = df_raw

In [11]:
# 주행거리가 0인데 요금이있는경우
df[(df['trip_km']==0) & (df['trip_total']!=0)]['trip_km']

2          0.0
8          0.0
9          0.0
11         0.0
13         0.0
          ...
1705741    0.0
1705747    0.0
1705748    0.0
1705749    0.0
1705754    0.0
Name: trip_km, Length: 448138, dtype: float64

In [12]:
df

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,trip_minuate,trip_km
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.40,24.0,24.0,4.50,0.00,0.0,0.0,4.50,Cash,199.0,510.0,199.0,510.0,3.0,0.6437
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.70,NaN,NaN,4.45,4.45,0.0,0.0,8.90,Credit Card,NaN,NaN,NaN,NaN,4.0,1.1265
2,3168.0,2016-1-31 21:30:00,2016-1-31 21:30:00,0.0,0.00,NaN,NaN,42.75,5.00,0.0,0.0,47.75,Credit Card,NaN,NaN,NaN,NaN,0.0,0.0000
3,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.10,6.0,6.0,7.00,0.00,0.0,0.0,7.00,Cash,686.0,500.0,686.0,500.0,8.0,1.7703
4,5710.0,2016-1-14 05:45:00,2016-1-14 06:00:00,480.0,2.71,32.0,NaN,10.25,0.00,0.0,0.0,10.25,Cash,385.0,478.0,NaN,NaN,8.0,4.3613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705753,1279.0,2016-1-30 19:30:00,2016-1-30 19:45:00,840.0,2.40,22.0,7.0,10.25,0.00,0.0,0.0,10.25,Cash,604.0,668.0,173.0,203.0,14.0,3.8624
1705754,8112.0,2016-1-28 17:45:00,2016-1-28 17:45:00,0.0,0.00,NaN,NaN,45.25,9.05,0.0,0.0,54.30,Credit Card,NaN,NaN,NaN,NaN,0.0,0.0000
1705755,1213.0,2016-1-28 06:30:00,2016-1-28 06:45:00,1380.0,17.90,32.0,76.0,44.00,5.00,0.0,0.0,49.00,Credit Card,64.0,231.0,225.0,6.0,23.0,28.8073
1705756,1911.0,2016-1-17 12:30:00,2016-1-17 12:45:00,960.0,2.50,8.0,28.0,11.75,0.00,0.0,1.0,12.75,Cash,161.0,649.0,411.0,545.0,16.0,4.0234
1705757,8206.0,2016-1-31 03:15:00,2016-1-31 03:15:00,360.0,2.10,8.0,24.0,8.25,3.00,0.0,1.0,12.25,Credit Card,419.0,615.0,255.0,300.0,6.0,3.3796

In [14]:
cond = (df['trip_km']==0) & (df['trip_total']!=0)
df.loc[cond]['trip_km'] = np.nan

In [23]:
df.loc[cond]['trip_km']

2          0.0
8          0.0
9          0.0
11         0.0
13         0.0
          ...
1705741    0.0
1705747    0.0
1705748    0.0
1705749    0.0
1705754    0.0
Name: trip_km, Length: 448138, dtype: float64

In [22]:
df.loc[cond]['trip_km'] = df.loc[cond]['trip_km'].map(lambda x: np.nan)

In [13]:
cols = list(df.columns)
cols.remove('Date')

# Random Forest

In [46]:
# 결측치 제거
df = df_raw
df = df.dropna()

In [47]:
len(df)

1382094

In [48]:
# train, test, val set을 설정한다.
# validation set은 위의 조건에 맞는 주행거리가 0인데 요금 정보가 있는 값들로 한다.

# train, test set
cond1 = (df['trip_km']!=0)
df1 = df.loc[cond1]

# train, test split
train_set, test_set = train_test_split(df1, test_size=0.3)

# validation set
cond2 = (df['trip_km']==0) & (df['trip_total']!=0)
val_set = df.loc[cond2]['trip_km']

In [49]:
print(df.__len__(), df1.__len__(), val_set.__len__())

1382094 1093453 288212

In [51]:
X_cols = list(df.columns)
# 예측할 target 값인 trip_km
X_cols.remove('trip_km')

In [ ]:
# Train, Test set split
X_train, X_test = train_set[X_cols], test_set[X_cols]
y_train, y_test = train_set['trip_km'], test_set['trip_km']
X_val, y_val = val