In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
plt.style.use('ggplot')
color_pal = ["#F8766D", "#D39200", "#93AA00", "#00BA38", "#00C19F", "#00B9E3", "#619CFF", "#DB72FB"]

import warnings
warnings.filterwarnings('ignore')

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, train_test_split

In [2]:
df_raw = pd.read_csv('jan_1_zero.csv')
df_raw.drop("Unnamed: 0", axis=1, inplace=True)

## 주행거리가 0인데 요금이 존재하는 데이터
### 결측치로 가정하고 예측하는 모델을 생성한다.

1. Missing Values Imputation
2. RandomForest Regressor

## Missing Values Imputation

In [3]:
df = df_raw

In [6]:
# 주행거리가 0인데 요금이있는경우
idx_array = np.array(df[(df['trip_km']==0) & (df['trip_total']!=0)]['trip_km'].index)

In [9]:
df.iloc[idx_array,4] = np.nan

In [12]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [11]:
imp = IterativeImputer(max_iter=10, random_state=0)
imp.fit(df)

X_test = 
# the model learns that the second feature is double the first
print(np.round(imp.transform(X_test)))

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Users\Joshua\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

# Random Forest

In [54]:
# 결측치 제거
df = df_raw
df.drop(['trip_start_timestamp', 'trip_end_timestamp', 'trip_miles', 'pickup_community_area', 'dropoff_community_area','payment_type'], axis=1, inplace=True)
df = df.dropna()
df.reset_index(inplace=True)
df.drop(['index'], axis=1, inplace=True)

In [55]:
df.__len__()

1384038

In [56]:
# 주행거리가 0인데 요금이있는경우
idx_array1 = np.array(df[(df['trip_km']==0)].index)
idx_array2 = np.array(df[(df['trip_km']!=0)].index)

In [57]:
df.iloc[idx_array1,:]

,taxi_id,trip_seconds,fare,tips,tolls,extras,trip_total,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,trip_minuate,trip_km
4,7418.0,180.0,5.00,2.0,0.0,1.5,8.50,210.0,470.0,744.0,605.0,3.0,0.0
6,6641.0,420.0,7.25,0.0,0.0,0.0,7.25,419.0,615.0,411.0,545.0,7.0,0.0
8,7984.0,420.0,6.25,0.0,0.0,0.0,6.25,419.0,615.0,681.0,196.0,7.0,0.0
10,221.0,720.0,10.75,0.0,0.0,0.0,10.75,642.0,32.0,411.0,545.0,12.0,0.0
12,5367.0,420.0,6.75,0.0,0.0,0.0,6.75,158.0,270.0,158.0,270.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384008,5122.0,420.0,7.25,1.0,0.0,0.0,8.25,744.0,605.0,18.0,610.0,7.0,0.0
1384012,1592.0,480.0,10.00,0.0,0.0,0.0,10.00,599.0,346.0,199.0,510.0,8.0,0.0
1384017,7976.0,0.0,3.25,0.0,0.0,0.0,3.25,686.0,500.0,686.0,500.0,0.0,0.0
1384029,5910.0,300.0,5.75,1.5,0.0,0.0,7.25,18.0,610.0,30.0,405.0,5.0,0.0
1384030,4579.0,360.0,6.50,0.0,0.0,1.0,7.50,454.0,453.0,724.0,47.0,6.0,0.0

In [58]:
# train, test, val set을 설정한다.
# validation set은 위의 조건에 맞는 주행거리가 0인데 요금 정보가 있는 값들로 한다.

# train, test set
df1 = df.iloc[idx_array2,:]

# train, test split
train_set, test_set = train_test_split(df1, test_size=0.3)

# validation set
val_set = df.iloc[idx_array1,:]

In [59]:
print(df.__len__(), df1.__len__(), val_set.__len__())

1384038 1095206 288832

In [60]:
X_cols = list(df.columns)
# 예측할 target 값인 trip_km
X_cols.remove('trip_km')

In [61]:
# Train, Test set split
X_train, X_test = train_set[X_cols], test_set[X_cols]
y_train, y_test = train_set['trip_km'], test_set['trip_km']
X_val, y_val = val_set[X_cols], val_set['trip_km']

### 2-1. 모델생성

#### 2-1-1) 기본 옵션으로 모델 생성

In [ ]:
rf_uncustomized = RandomForestRegressor()
rf_uncustomized.fit(X_train, y_train)
# Train 데이터 설명력
print("Score on training set : {:.3f}".format(rf_uncustomized.score(X_train,y_train)))
print("Score on test set : {:.3f}".format(rf_uncustomized.score(X_test,y_test)))

#### 2-1-2) 현재 생성된 트리 모델의 옵션 확인

In [ ]:
rf_uncustomized

### 2-2. 모델 Parameter 조정

#### 2-2-1) n_estimator : 트리 수 변경에 따른 모델 성능

In [ ]:
train_score = []; test_score = []

para_n_tree = [n_tree * 10 for n_tree in range(1,40)]

for v_n_estimators in para_n_tree :
    rf = RandomForestRegressor(n_estimators= v_n_estimators)
    rf.fit(X_train, y_train)
    train_score.append(rf.score(X_train, y_train))
    test_score.append(rf.score(X_test,y_test))

# 결과 저장

df_score_n = pd.DataFrame()
df_score_n['n_estimators'] = para_n_tree
df_score_n['TrainScore'] = train_score
df_score_n['TestScore'] = test_score
df_score_n['Gap'] = df_score_n['TrainScore'] - df_score_n['TestScore']

In [ ]:
# 모델 설명력 확인
df_score_n.round(3).sort_values(by='Gap').head()

In [ ]:
# 모델 설명력 그래프 확인

plt.plot(para_n_tree, train_score, linestyle = "-", label = 'Train Score')
plt.plot(para_n_tree, test_score, linestyle = '--', label = 'Test Score')
plt.legend()

#### 2-2-2) min_samples_leaf : 잎사귀 노드의 최소 자료 수 변경에 따른 모델 성능

In [ ]:
train_score = []; test_score = []

para_leaf = [n_leaf * 1 for n_leaf in range(1,21)]

for v_min_samples_leaf in para_leaf :
    rf = RandomForestRegressor(n_estimators=70,
                                min_samples_leaf = v_min_samples_leaf)
    rf.fit(X_train, y_train)
    train_score.append(rf.score(X_train, y_train))
    test_score.append(rf.score(X_test,y_test))
    
# 결과 저장

df_score_leaf = pd.DataFrame()
df_score_leaf['MinSamplesLeaf'] = para_leaf
df_score_leaf['TrainScore'] = train_score
df_score_leaf['TestScore'] = test_score
df_score_leaf['Gap'] = df_score_leaf['TrainScore'] - df_score_leaf['TestScore']

In [ ]:
# 모델 설명력 확인
df_score_leaf.round(3).sort_values(by='Gap').head()

In [ ]:
# 모델 설명력 그래프 확인

plt.plot(para_leaf, train_score, linestyle = "-", label = 'Train Score')
plt.plot(para_leaf, test_score, linestyle = '--', label = 'Test Score')
plt.ylabel('score'); plt.xlabel("min sample leaf")
plt.legend()

#### 2-2-3) min_samples_split : 분리노드의 최소 자료 수 변경에 따른 모델 성능

In [ ]:
train_score = []; test_score = []

para_split = [n_split * 2 for n_split in range(2,41)]

for v_min_samples_split in para_split :
    rf = RandomForestRegressor(n_estimators=70,
                                 min_samples_leaf = 3,
                                min_samples_split = v_min_samples_split)
    rf.fit(X_train, y_train)
    train_score.append(rf.score(X_train, y_train))
    test_score.append(rf.score(X_test, y_test))
    
# 결과 저장

df_score_split = pd.DataFrame()
df_score_split['MinSamplesSplit'] = para_split
df_score_split['TrainScore'] = train_score
df_score_split['TestScore'] = test_score
df_score_split['Gap'] = df_score_split['TrainScore'] - df_score_split['TestScore']

In [ ]:
# 모델 설명력 확인
df_score_split.round(3).sort_values(by='Gap').head()

In [ ]:
# 모델 설명력 그래프 확인

plt.plot(para_split, train_score, linestyle = "-", label = 'Train Score')
plt.plot(para_split, test_score, linestyle = '--', label = 'Test Score')
plt.legend()